<h1 class="text-center">Our Portfolio</h1>
<table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Address</th>
        <th>Skills</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{person.id}}</td>
        <td>{{person.name}}</td>
        <td>{{person.address}}</td>
        <td>{{person.skills}}</td>
        <td>{{person.age}}</td>
      </tr>
      <tr>
        <td>{{porfolio[0].id}}</td>
        <td>{{porfolio[0].name}}</td>
        <td>{{porfolio[0].address}}</td>
        <td>{{porfolio[0].skills}}</td>
        <td>{{porfolio[0].age}}</td>
      </tr>
    </tbody>
  </table>