<!--The content below is only a placeholder and can be replaced.-->
<div>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span> 
          </button>
        <a class="navbar-brand" href="#">SCA</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <!-- routerLink: directive on the anchor tag that give the router control over those elements -->
          <!-- routerLinkActive: toggles css classes for active RouterLink binding -->
          <li class="active"><a routerLink="/home" routerLinkActive="active">Home</a></li>
          <li><a routerLink="/about" routerLinkActive="active">About</a></li>
          <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
          <li><a routerLink="/portfolio" routerLinkActive="active">Portfolio</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/signup" routerLinkActive="active">Sign Up</a></li>
          <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class='mainBody'>

    <!--Directive router -->
    <router-outlet></router-outlet>
    <!-- Routed components go here when clicked - means it will be displayed here -->
  </div>